{% extends 'layout.html' %}
{% block body %}
    <h3>Contact Me</h3>
    <p>
        Please feel free to contact me if you have any questions, or are looking for a web developer.
        <br>
        Contact me using the form below or using one of the methods also listed.
    </p>
    <section id="contact-form">
        <form method="POST" class="form">
            {% csrf_token %}
            <fieldset>
                {{ form.name.label_tag }}
                {{ form.name }}
            </fieldset>
            <fieldset>
                {{ form.email.label_tag }}
                {{ form.email }}
            </fieldset>
            <fieldset>
                {{ form.body.label_tag }}
                {{ form.body }}
            </fieldset>
            <fieldset>
                <button type="submit" id="submit" class="btn btn-success btn-lg">Contact Me!</button>
            </fieldset>
        </form>
    </section>
    <section id="contact-details">
        <ul>
            <li>Twitter: <a href="https://twitter.com/AttwoodCharlie">@AttwoodCharlie</a></li>
            <li>Google Plus: <a href="https://plus.google.com/u/0/103227713602162942632">https://plus.google.com/u/0/103227713602162942632</a></li>
            <li>Github: <a href="https://github.com/Ottermad">Ottermad</a></li>
            <li>Email: <a href="mailto:charlie.thomas@attwoodthomas.net">charlie.thomas@attwoodthomas.net</a></li>
            <li>Phone: <a href="tel:+447795958759">+447795958758</a></li>
        </ul>
    </section>

{% endblock %}